@model Bbt1.Models.Product_Detail

@{
    ViewBag.Title = "DeleteProductDetail";
}

<h2>DeleteProductDetail</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product_Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pd_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pd_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pd_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pd_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pd_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pd_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pd_onorder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pd_onorder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
