@model PagedList.IPagedList<Bbt1.Models.Order>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Order Management";
    var aa = ViewBag.order;
    var bb = ViewBag.order1;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title h2">Order Management</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables" class="display table table-striped table-hover">
                        <thead>
                            @using (Html.BeginForm("Index", "OrderM", FormMethod.Get))
                            {
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.ActionLink("訂購人", "Index", new { SortOrder = ViewBag.name, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.Member.m_name)*@

                                    </th>
                                    <th>
                                        @Html.ActionLink("收件人", "Index", new { SortOrder = ViewBag.receive, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.o_receiver)*@

                                    </th>
                                    <th>
                                        @Html.ActionLink("收件地址", "Index", new { SortOrder = ViewBag.address, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.o_address)*@
                                    </th>
                                    <th>
                                        @Html.ActionLink("寄貨方式", "Index", new { SortOrder = ViewBag.dway, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.Delive_Way.dw_name)*@

                                    </th>
                                    <th>
                                        @Html.ActionLink("付款方式", "Index", new { SortOrder = ViewBag.pay, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.Payment.pay_name)*@

                                    </th>
                                    <th>
                                        @Html.ActionLink("訂購日期", "Index", new { SortOrder = ViewBag.odate, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.o_date)*@

                                    </th>
                                    <th>
                                        @Html.ActionLink("出貨日期", "Index", new { SortOrder = ViewBag.ddate, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.o_delivedate)*@

                                    </th>
                                    <th>
                                        @Html.ActionLink("出貨狀態", "Index", new { SortOrder = ViewBag.status, currentFilter = ViewBag.CurrentFilter })
                                        @*@Html.DisplayNameFor(model => model.o_status)*@

                                    </th>
                                    <th></th>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-inline-flex">
                                            @if (item.o_status == 0.ToString())
                                            {
                                                <a href="~/OrderM/Ship/@item.o_id" onclick="return confirm('出貨?')"><i class="fas fa-truck" style="color:cornflowerblue;font-size:18px;"></i></a>
                                                <a class="ml-2" href="~/OrderM/DeleteOrder/@item.o_id" onclick="return confirm('確定要刪除嗎?')"><i class="fa fa-times" style="color:red;font-size:18px;"></i></a>
                                            }
                                            else if (item.o_status == 1.ToString())
                                            {
                                            }

                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Member.m_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.o_receiver)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.o_address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Delive_Way.dw_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Payment.pay_name)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.o_date)*@
                                        @DateTime.Parse(item.o_date.ToString()).ToString("yyyy-MM-dd HH:mm:ss")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.o_delivedate)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.o_status)*@
                                        @if (item.o_status == 0.ToString())
                                        {
                                            <label>訂單成立</label>
                                        }
                                        else if (item.o_status == 1.ToString())
                                        {
                                            <label>已出貨</label>
                                        }
                                        else if (item.o_status == 2.ToString())
                                        {
                                            <label>已送達</label>
                                        }
                                        else if (item.o_status == 3.ToString())
                                        {
                                            <label>訂單已完成</label>
                                        }
                                        else if (item.o_status == 4.ToString())
                                        {
                                            <label>申請退貨</label>
                                        }
                                    </td>
                                    <td>

                                        @Html.ActionLink("查詢訂單", "OrderDetail", new { id = item.o_id }, new { @class = "btn btn-outline-secondary", @style = "width:80px;font-size:14px" })
                                        @*<button type="button" class="btn btn-success alert_demo_3_3"> Success</button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    @*@Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/vendor/jquery/jquery.js"></script>
@*<script>
        $('.namesort').click(function () {
            console.log("123");
            var list = @alist;
            var list1 = list.sort(function (a, b) {
                return a.Member.m_name > b.Member.m_name ? 1 : -1;
            });
            console.log(list);
        })
    </script>*@
<script>
    $('.alert_demo_3_3').click(function (e) {
        swal("Successful shipment!", "You clicked the button!", {
            icon: "success",
            buttons: {
                confirm: {
                    className: 'btn btn-success'
                }
            },
        });
    });
</script>